h1{
    font-size: 30px;
    color: blue;
    margin: 0 auto;
    width: fit-content;
}

.block {
    background-color: aqua;
    height: 250px;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    font-size: 42px;
    color: rgb(0, 204, 255);
    margin: 10px auto;
    width: fit-content;
    padding: 25px 50px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,40,121,1) 42%, rgba(4,127,189,1) 77%, rgba(0,212,255,1) 100%);
}