h1{
    font-size: 30px;
    color: blue;
    margin: 0 auto;
    width: fit-content;
}

.block {
    background-color: aqua;
    height: 250px;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    color: white;
    padding: 10px;
    border-radius: 10px;
}